.idea/
TCC_final/.idea/
TCC_final/__pycache__/
env
msa_star.pem
TCC_final/apps/core/__pycache__/
TCC_final/apps/msa_astar_logado/__pycache__/views.cpython-38.pyc
msa_astar/__pycache__/
msa_astar/__pycache__/settings.cpython-38.pyc
 msa_astar/__pycache__/urls.cpython-38.pyc
 msa_astar/__pycache__/wsgi.cpython-38.pyc
__pycache__/leitura_arquivos.cpython-38.pyc
 __pycache__/validators.cpython-38.pyc
apps/__pycache__/
apps/core/__pycache__/
apps/core/migrations/__pycache__/
apps/login_cadastro/__pycache__/
apps/login_cadastro/migrations/__pycache__/
apps/msa_astar_logado/__pycache__/
apps/msa_astar_logado/migrations/__pycache__/
uwsgi_params
mysite_nginx
 TCC_final/apps/msa_astar_logado/__pycache__/
 TCC_final/apps/core/__pycache__/
 TCC_final/__pycache__/
