h1
    {
        text-align: center;
    }

.aligned-center
    {
        text-align: center;
    }

.aligned-rights
    {
    text-align: right;
    }

.aligned-left
    {
    text-align: left;
    }

div.test
{

  vertical-align: top;
}

#content {
    margin-top: 0;
    margin-right: 50%;
    position: absolute;
    top: 20px;
    right: 0;
}

#content_voltar {
    margin-top: 0;
    margin-right: 20%;
    position: absolute;
    top: 20px;
    right: 0;
}