h1
    {
        text-align: center;
    }

/*.table_*/
/*    {*/
/*        width:500px;*/
/*        height: auto ;*/
/*        overflow-y: hidden;*/
/*        overflow-x:scroll;*/
/*        white-space: nowrap;*/
/*    }*/

.aligned-center
    {
        text-align: center;
    }

.aligned-rights
    {
    text-align: right;
    }

.aligned-left
    {
    text-align: left;
    }

div.test
{

  vertical-align: top;
}

