<h3 class="aligned-center">Formatos Aceitos</h3>
<div>
    <h5>Digitando</h5>
    <p style="color: #04a304">AAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABA
        AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACA</p>

    <strong><p style="color: red">Atenção, Enter Significa Nova Sequência.</p></strong>
</div>
<div>
    <h5>Arquivos</h5>
    <p style="color: #04a304">
    >1<br>
    A<br>
    A<br>
    AA
    <br>>2
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    AAAAAABA
    <br>>3
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACA
    </p>
</div>